# intellij files
.idea/
*.iml
*.ipr
*.iws
*.tokens
build-idea/

# eclipse files
.project
.classpath
.settings
build-eclipse/

# gradle stuff
.gradle/
.gradle-cache

# vscode stuff
/.vscode/

# testing stuff
**/.local*
.vagrant/
/logs/

# osx stuff
.DS_Store

# build
build/
out/

archive/build/
archive/app/

java/build/
java/src/main/generated/

# webapp
webapp/.vscode/
webapp/develop/lib/
webapp/develop/node_modules/
